/* ======================== CAROUAEL ========================= */
#myCarousel .carousel-caption {
    left: 0;
	right: 0;
	bottom: 0;
	text-align: left;
	padding: 10px;
	background: rgba(0,0,0,0.6);
	text-shadow: none;
}

#myCarousel .list-group {
	padding-right: 0;
	position:absolute;
	top: 0;
	right: 0;
}
#myCarousel .list-group-item {
	border-radius: 0px;
}
#myCarousel .list-group-item a img {
    width: 80px;
    position: absolute;
}
#myCarousel .list-group-item a h4 {
    overflow: hidden; 
    line-height: 2; 
    text-overflow: ellipsis; 
    white-space: nowrap; 
    padding-left: 91px; 
    width: 400px;
}

@media (min-width: 992px) { 
	#myCarousel { padding-right: 33.3333%; background-color: #ffffff; }
	#myCarousel .carousel-controls { display: none; } 	
}
@media (max-width: 991px) { 
	.carousel-caption p,
	#myCarousel .list-group {display:none;} 
}

/* ======================== POPULAR DOCUMENT ========================= */
#content.document .popular-document {
	padding: 0;
}
#content.document .advertisement {
	outline: none;
}
#content.document .advertisement img {
	padding-bottom: 10px;
}
#content.document .popular-document .item {
	border-bottom: 2px solid #e1e1e1;
    /*margin-bottom: 20px;*/
    padding-bottom: 14px;
    position: relative;
}
#content.document .popular-document .item:after {
	border-bottom: 2px solid #31a4da;
    bottom: -2px;
    max-width: 60px;
    position: absolute;
    width: 100%;
    content: "";
}
#content.document .popular-document .link {
	font-family: times new roman;	
	color: #333;
}
#content.document .popular-document .link h4 {
	font-weight: bold;
	font-size: 17px;
}
#content.document .popular-document .link:hover {
	text-decoration: none;
	color: #31A4DA;
}
#content.document .popular-document .text {	
    color: gray;
    font-family: times new roman;
}


/* ======================== NEW ARTICLES ========================= */
#content.document .new-articles .bottom-new-article hr {
	border-color: #e1e1e1;
    border-style: solid;
    border-width: 1px;
    margin-top: 5px;
}
#content.document .new-articles .bottom-new-article hr:after{
	border-bottom: 2px solid #31a4da;
    bottom: 20px;
    content: "";
    left: 15px;
    max-width: 110px;
    position: absolute;
    width: 100%;
}
#content.document .new-articles .item .img a img {
	width: 164px;
	height: 121px;
    margin-bottom: 30px;
}
#content.document .new-articles .item .title h3 {
	font-family: times new roman;
	color: #333;
}
#content.document .new-articles .item .title:hover {
	text-decoration: none;
}
#content.document .new-articles .item .title h3:hover {
	color: #31A4DA;
}
#content.document .new-articles .item .title-japan {
	font-family: font-KozGoPr6N;
}

@font-face {
    font-family: FontAwesome;
    src: url(../fonts/others/fontawesome-webfont.woff);
}
#content.document .new-articles .item dd, #content.document .new-articles .item dd a {
	color: #777777;
}
#content.document .new-articles .item dd .item_published::before {
    content: "";
}
#content.document .new-articles .item dd .item_published::before, #content.document .new-articles .item dd .kmt-comment::before {
    color: #1c1c1c;
    font-family: "FontAwesome";
    margin-right: 4px;
}
#content.document .new-articles .item dd .kmt-comment::before {
    content: "";
    padding-left: 10px;
}
#content.document .new-articles .item a.label-primary {
	font-family: font-UVNBayBuom;
    font-size: 15px;
    margin-top: -10px;
    padding: 3px;
    position: absolute;
}
#content.document .see-all {
	text-decoration: underline;
	color: #333;
}
#content.document .see-all:hover {
	text-decoration: none;
	color: #31A4DA;
}

/*#content.document .new-articles .item .img a img:hover {
    transform: scale(1.1);
    transition: all 0.5s linear 0s;

}*/

/* ======================== CATEGORY ========================= */
#content.document .category .link h4 {
	font-size: 18px;
}

/* ======================== NEWS-TOTAL ========================= */
#content.document .news-total .bottom-news-total hr {
    border-color: #e1e1e1;
    border-style: solid;
    border-width: 1px;
    margin-top: 5px;
}
#content.document .news-total .bottom-news-total hr:after{
    border-bottom: 2px solid #31a4da;
    bottom: 20px;
    content: "";
    left: 15px;
    max-width: 110px;
    position: absolute;
    width: 100%;
}
#content.document .news-total a img {
    margin-bottom: 10px
}
#content.document .news-total .link {
    font-family: times new roman;   
    color: #333;
}
#content.document .news-total .link h4 {
    font-weight: bold;
    font-size: 17px;
}
#content.document .news-total .link:hover {
    text-decoration: none;
    color: #31A4DA;
}

/* ======================== PUBLIC ========================= */
#content.document h3 {
    font-family: times new roman;
    font-weight: bold;
}
#content.document hr {
    border-color: #31a4da;
    border-style: solid;
    border-width: 2px;
    margin-top: 5px;
}