@media (min-width: 992px) {
    .container {
        width: 960px;
    }
}
@media (min-width: 1200px) {
    .container {
        width: 960px;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .text-container .text-item {
        text-align: center;
    }
}
@media (min-width: 480px) and (max-width: 767px) {
    .text-video {
        width: 345px;
    }
}
@media (max-width: 767px) {
    .blueup-good .good-text {
        width: 100%;
    }
    .blueup-flashcard .text-item {
        text-align: center;
        width: 100%;
    }
    .footer-contact {
        margin: 0;
    }
}
@media (max-width: 479px) {
    .navbar-brand {
        display: block;
        float: none;
        margin-bottom: 10px;
    }
    .text-container .text-item {
        width: 100%;
        text-align: center;
    }
    .blueup-good .good-item {
        padding: 123px 0 0 0;
    }
    .footer-sitemap {
        width: 50%;
    }
    .footer-quote {
        width: 100%;
    }
}
@media (max-width: 319px) {
    .blueup-image .image-item {
        width: 100%;
    }
}
