* {
    font-family: tahoma, arial, sans-serif;
}

/*
COLORS
red		f79263
orange	ffc800
green	8cd454
blue 	31a4d9
 */
#header {
    background-color: #31a4d9;
}

.img-hover img:hover {
    background:#ffc800;
	opacity: 0.8
}
.navbar-brand {
    padding: 7px 30px 7px 15px;
}
.katchup-nav {
    padding: 0;
    margin: 0;
}
.katchup-nav li {
    list-style: none outside none;
    display: inline-block;
}
.katchup-nav li a {
    color: #FFFFFF;
    background: none;
    display: block;
}
.katchup-menu li a {
    font-size: 12px;
    padding: 5px 12px;
}
.katchup-nav li a:hover, .katchup-nav li > a:focus {
    color: #FFFFFF;
    text-decoration: none;
}
.katchup-menu li.active a {
    color: #FFFFFF;
    background-color: #1596d2;
}
.katchup-menu li a span {
    display: block;
    font-size: 32px;
}
.katchup-login {
    padding: 11px 0;
}
.katchup-login li a {
    border: 0;
    border-radius: 0;
    font-size: 14px;
    padding: 6px;
}
.katchup-login li a.btn-login {
    background-color: #8bd554;
    font-weight: bold;
    margin: 0;
}
.katchup-menu .link-icon {
    display: block;
    width: 27px;
    height: 27px;
    margin: 0 auto;
}
.ico-home {
    background: url("../images/ico-home.png");
}
.ico-exam {
    background: url("../images/ico-exam.png");
}
.ico-doc {
    background: url("../images/ico-doc.png");
}
.ico-product {
    background: url("../images/ico-product.png");
}
.ico-question {
    background: url("../images/ico-question.png");
}
#banner {
    background-color: #31a4d9;
}
#banner .container {
    padding-bottom: 20px;
}
#banner .text-container {
	margin-top: 20px;
}
#banner .text-container h1 {
    color: #ffffff;
	font-size: 30px;
    margin-top: 0;
    margin-bottom: 30px;
    padding: 0 15px;
    line-height: 40px;
}
#banner .text-container p {
    margin-bottom: 20px;
    line-height: 24px;
    padding: 0 15px;
    color: #000000;
}
.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: none;
}
.btn {
    color: #000000;
    border: 0;
    border-radius: 0;
    font-size: 13px;
    padding: 5px 16px;
    line-height: 19px;
    margin-bottom: 15px;
    /*margin: 0 auto 10px;*/
}
.text-large {
    display: block;
    font-size: 19px;
}
.text-medium {
    display: block;
    font-size: 15px;
    white-space: normal;
}
.bu-button {
    height: 67px;
    width: 240px;
    font-size: 24px;
    background-color: #31a4d9;
    color: #ffffff;
    display: block;
    line-height: 20px;
    padding-top: 12px;
    text-align: center;
}
.bu-button:hover, .bu-button:active {
    color: #ffffff;
    text-decoration: none;
}
.bu-button span {
    font-size: 14px;
}
.katchup-active h2 {
    border: 1px solid #8cd454;
    color: #8cd454;
    font-size: 16px;
    margin-bottom: 45px;
    margin-top: 20px;
    padding: 10px 0 5px;
}
.btn-green {
    background-color: #8cd454;
    font-size: 16px;
    padding: 6px 12px;
    color: #FFFFFF;
    margin-left: 10px;
    margin-bottom: 5px;
 }
.btn-green:hover, .btn-green:focus, .btn-green:active {
    color: #FFFFFF;
}
.katchup-image h2 {
    color: #8cd454;
    font-size: 20px;
    margin-bottom: 30px;
    margin-top: 0;
}
.katchup-image div {
    /*margin-bottom: 15px;*/
}

.katchup-study {
    margin-top: 30px;
}

.katchup-good h2 {
    color: #31a4d9;
    margin-bottom: 40px;
    margin-top: 60px;
    font-size: 20px;
}
.katchup-good .good-item {
    padding-left: 123px;
    text-align: justify;
    min-height: 107px;
    margin-bottom: 35px;
}
.katchup-good .good-item h3 {
    color: #31a4d9;
    font-size: 16px;
    margin: 0 0 15px;
}
.katchup-good .item-1 {
    background: url(../images/good1.png) no-repeat scroll left top transparent;
}
.katchup-good .item-2 {
    background: url(../images/good2.png) no-repeat scroll left top transparent;
}
.katchup-good .item-3 {
    background: url(../images/good3.png) no-repeat scroll left top transparent;
}
.katchup-good .item-4 {
    background: url(../images/good4.png) no-repeat scroll left top transparent;
}
.katchup-good .item-5 {
    background: url(../images/good5.png) no-repeat scroll left top transparent;
}
.katchup-good .item-6 {
    background: url(../images/good6.png) no-repeat scroll left top transparent;
}
.katchup-good .item-7 {
    background: url(../images/good7.png) no-repeat scroll left top transparent;
}
.katchup-text h2 {
    color: #8bd554;
    margin-bottom: 40px;
    margin-top: 40px;
    font-size: 20px;
}
.katchup-text .text-item {
    width: 301px;
    display: inline-block;
    margin: 0 8px 40px;
    vertical-align: top;
    text-align: left;
}
.katchup-text .text-item.last {
    margin-right: 0;
}
.katchup-text .text-item .text {
    background: url(../images/text-quote-green.png) no-repeat scroll left top transparent;
    width: 302px;
    height: 118px;
    padding-left: 46px;
    padding-top: 30px;
    padding-right: 5px;
    font-size: 12px;
    line-height: 20px;
}
.katchup-text .text-item .author {
    margin-top: 9px;
    padding: 0 9px 0 27px;
    min-height: 52px;
    color: #ababab;
    font-size: 12px;
}
.katchup-text .author .name {
    color: #8bd554;
}
.katchup-text .text-item .author img {
    float: left;
    margin-right: 10px;
}
.katchup-flashcard .btn-toeic {
    line-height: 26px;
    font-size: 18px;
}
.katchup-flashcard .btn-ielts {
    line-height: 26px;
    font-size: 18px;
}
.katchup-flashcard .text-large {
    font-size: 24px;
}
.katchup-total {
    /*background-color: #f79263;
    color: #FFFFFF;*/
}
.katchup-total .link-icon {
    width: 45px;
    height: 34px;
    display: block;
    margin: 20px auto 10px;
}
.katchup-total .name {
    margin-top: 9px;
    padding: 0 9px 0 27px;
    min-height: 52px;
    color: #8bd554;
    font-size: 17px;
}
.katchup-total .number {
    display: block;
    color: #FB4A40;
    font-size: 87px;
}
.katchup-total .text-title {
    display: block;
    color: #FB4A40;
    font-size: 32px;
    text-align: justify;
}
.ico-contact {
    background: url("../images/ico-contact.png") no-repeat;
}
.katchup-total .item-total {
    color: #ffffff;
    display: block;
    font-size: 18px;
    padding: 10px 0px 15px 0px;
    text-decoration: none;
}
.katchup-total .item-text {
    font-size: 12px;
    display: inline-block;
    margin-bottom: 30px;
}
.katchup-total .item-text2 {
    display: inline-block;
    font-size: 18px;
    margin-bottom: 12px;
    text-align: justify;
}
.katchup-countdown {
	
}
.katchup-countdown p {
	color: #8cd454;
    
    margin-top: 40px;
	font-size: 18px;
}

.katchup-countdown .highlight{
	font-size: 22px; 
	font-weight: bold; 
	color: #8cd454;
}

.katchup-benefit h2 {
    color: #8cd454;
    margin-bottom: 40px;
    margin-top: 40px;
	font-size: 24px;
}
.katchup-benefit ul {
    padding-left: 0;
}
.katchup-benefit li {
    font-size: 18px;
    list-style: none;
    background: url(../images/green-bul.png) no-repeat scroll left 12px transparent;
    padding-left: 20px;
    line-height: 30px;
}

.katchup-benefit .highlight{
	font-size: 22px; 
	font-weight: bold; 
	color: #8cd454;
}
.katchup-sold {
    margin-bottom: 45px;
}
.katchup-sold span {
    color: #ffc800;
    font-size: 20px;
    display: block;
}
.katchup-sold span span {
    font-size: 36px;
    font-weight: bold;
    display: inline;
}
.katchup-sold span.item-1 {
    margin-left: 138px;
}
.katchup-sold span.item-2 {
    margin-left: 364px;
}
.katchup-ref h2 {
    color: #8bd554;
    margin-bottom: 45px;
	font-size: 24px;
}
.katchup-ref .title {
    background-color: #8bd554;
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    color: #ffffff;
    padding: 4px 0;
    margin-bottom: 15px;
}
.katchup-ref ul {
    padding-left: 0;
}
.katchup-ref li {
    font-size: 16px;
    background: url(../images/green-bul.png) no-repeat scroll left 8px transparent;
    list-style: none;
    margin-bottom: 7px;
    padding-left: 22px;
}

.katchup-back h2 {
    color: #ffc800;
    margin-bottom: 45px;
	font-size: 24px;
}
.katchup-back .title {
    background-color: #ffc800;
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    color: #ffffff;
    padding: 4px 0;
    margin-bottom: 15px;
}
.katchup-back ul {
    padding-left: 0;
}
.katchup-back li {
    font-size: 16px;
    background: url(../images/yellow-bul.png) no-repeat scroll left 8px transparent;
    list-style: none;
    margin-bottom: 7px;
    padding-left: 22px;
}

.katchup-more {
    margin-top: 45px;
}

.katchup-more .highlight{
	font-size: 16px; 
	font-weight: bold; 
	color: #31a4d9;
}

.katchup-more a {
    color: #31a4d9;
    text-decoration: underline;
}
.katchup-more .more-item {
    margin-top: 35px;
    padding-left: 170px;
    font-size: 16px;
    min-height: 119px;
}
.katchup-more .more-item .title {
    font-size: 18px;
    font-weight: light	;
    color: #31a4d9;
}
.katchup-more .ycc {
    background: url(../images/ycc.png) no-repeat scroll 24px top transparent;
}
.katchup-more .ayp {
    background: url(../images/ayp.png) no-repeat scroll 24px top transparent;
}
.katchup-more .windmills {
    background: url(../images/windmills.png) no-repeat scroll 24px top transparent;
}
.katchup-more .tth {
    background: url(../images/tth.png) no-repeat scroll 24px top transparent;
}
.katchup-more .cad {
    background: url(../images/cad.png) no-repeat scroll 24px top transparent;
}
.katchup-more .os {
    background: url(../images/os.png) no-repeat scroll 24px top transparent;
}
.katchup-more .bp {
    background: url(../images/bp.png) no-repeat scroll 24px top transparent;
}

/* GO TO TOP BUTTON */
.scrollup {
width: 40px;
height: 40px;
opacity: 0.3;
position: fixed;
bottom: 50px;
right: 10px;
text-indent: -9999px;
background: url(../images/icon_top.png) no-repeat;
outline: none !important;
}

.scrollup:hover {
opacity: 0.6;
}
/* **************** */

/* ACCORDION FOR FAQ */

/* Shared for all accordion types */
.accordion {
    font-family:tahoma, arial, sans-serif;
    margin:0 auto;
    font-size:14px;
    border:1px solid #31a4d9;
    border-radius:10px;
    width:930px;
    padding:10px;
    background:#fff;
}
.accordion ul {
    list-style:none;
    margin:0;
    padding:0;    
}
.accordion li {
    margin:0;
    padding:0;
}
.accordion [type=radio], .accordion [type=checkbox] {
    display:none;
}
.accordion label {
    display:block;
    font-size:16px;
    line-height:16px;
    /*background:#31a4d9;
    border-bottom: 1px solid #31a4d9;*/
    color:#31a4d9;
    text-shadow:1px 1px 1px rgba(255,255,255,0.3);
    font-weight:bold;
    cursor:pointer;
    /*text-transform:uppercase;*/
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
}
.accordion ul li label:hover {
    /*background:#4679BD;*/
    color:#4072b4;
	
    /*text-shadow:1px 1px 1px rgba(0,0,0,0.5)*/
}

.accordion [type=radio]:checked ~ label, .accordion [type=checkbox]:checked ~ label {
	border-bottom: 1px solid #4072b4;
	border-top: 1px solid #4072b4;
}

.accordion .content {
    padding:0 10px;
    overflow:hidden;
    border:1px solid #fff; /* Make the border match the background so it fades in nicely */
    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
}
.accordion p {
    color:#333;
    margin:0 0 10px;
}
.accordion h3 {
    color:#542437;
    padding:0;
    margin:10px 0;
}

#footer {
    border-top: 1px solid #31a4d9;
    margin-top: 30px;
    color: #FFFFFF;	
	background-color: #31A4DA;
}
.footer-top, .footer-customer {
    font-size: 12px;
}
.footer-top h3, .footer-customer h3 {
    font-size: 14px;
    font-weight: bold;
}
.footer-top ul {
    padding: 0;
}
.footer-top ul li {
    list-style: none outside none;
    line-height: 22px;
}
.footer-top ul li a {
    color: #000000;
}
.footer-customer .text-item {
    padding-left: 60px;
    text-align: justify;
    margin-bottom: 30px;
}
.footer-customer .item-1 {
     background: url(../images/customer1.jpg) no-repeat scroll left top transparent;
     background-size: 53px 53px;
 }
.footer-customer .item-2 {
    background: url(../images/customer2.jpg) no-repeat scroll left top transparent;
    background-size: 53px 53px;
}
.footer-customer .item-3 {
    background: url(../images/customer3.jpg) no-repeat scroll left top transparent;
    background-size: 53px 53px;
}
.footer-customer .item-4 {
    background: url(../images/customer4.jpg) no-repeat scroll left top transparent;
    background-size: 53px 53px;
}
.footer-customer .text-item .item-name {
    color: #31a4d9;
    font-size: 14px;
    display: block;
}
.footer-social {
    margin: 20px 0;
}
.footer-contact {
    font-size: 12px;
    background-color: #e6e6e6;
    padding: 15px 5px 5px 10px;
}
.footer-contact h3 {
    margin-top: 0;
    font-size: 14px;
    font-weight: bold;
    color: #31a4d9;
}
.footer-contact .form-horizontal label.control-label {
    font-weight: normal;
}
.footer-contact .form-horizontal .form-control {
    border-radius: 0;
}
.hotline {
    line-height: 24px;
}
.btn-send {
    background-color: #31a4d9;
    color: #FFFFFF;
    margin: 0 10px 0 0;
    padding: 1px 5px;
}
.btn-send:hover {
    color: #FFFFFF;
}
.ico-light {
    background: url("../images/ico-light.png") no-repeat ;
    width: 14px;
    height: 14px;
    display: inline-block;
}
.footer-location {
    margin-top: 10px;
    margin-bottom: 20px;
}
.footer-location a {
    color: #000000;
    font-size: 12px;
}
.ico-location {
    background: url("../images/ico-location.png") no-repeat ;
    width: 16px;
    height: 16px;
    display: inline-block;
}
.footer-bottom {
    /*background-color: #31a4d9;*/
	background-color: #11B4EF;
    font-size: 14px;
    font-weight: bold;
    color: #FFFFFF;
    padding: 7px 0;
}

/* Vertical */
.vertical ul li {
    overflow:hidden;
    margin:0 0 1px;
}
.vertical ul li label {
    padding:10px;
}
.vertical [type=radio]:checked ~ label, .vertical [type=checkbox]:checked ~ label {
    border-bottom:0;
}
.vertical ul li label:hover {
    /*border-bottom: 1px solid #4072b4;*/
    color:#4072b4;
}
.vertical ul li .content {
    height:0px;
    border-top:0;
}
.vertical [type=radio]:checked ~ label ~ .content, .vertical [type=checkbox]:checked ~ label ~ .content {
    height:auto;
    color:#4072b4;
    border-bottom: 1px solid #4072b4;
}


/*========================= CUSTOMIZE NAV BOOTSTRAP =========================*/
.navbar-nav > li > a {
  padding-top: 4px !important;
  padding-bottom: 5px !important;
  line-height: 20px !important;
}

.navbar-nav > li > a {
    padding-top: 4px !important;
    padding-bottom: 5px !important;
}

.navbar-default {
  background-color: #31A4DA !important;
  border-color: #31A4DA !important;
}

.navbar-default .navbar-nav > li > a {
  color: none !important;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  /*color: #333;*/
  background-color: #8bd554 !important;
  font-weight: bold !important;
}

.navbar-default .navbar-toggle {
  border-color: #31A4DA !important;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #11B4EF !important;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #FFFFFF !important;
}


/*========================= CUSTOMIZE =========================*/
.navbar-brand img {
	width : 160px;
	height : 65px;
}

/* 980px hoac nho hon */
@media screen and (max-width: 980px) {  
   .katchup-total .text-title {
        display: block;
        color: #FB4A40;
        font-size: 25px;
        text-align: justify;
    }
    .katchup-total .item-text2 {
        display: inline-block;
        font-size: 18px;
        margin-bottom: 12px;
        text-align: justify;
    }
    .katchup-total .item-total {
        font-size: 15px;
        padding: 10px 0 15px;
    }
}

/* 762px hoac nho hon */
@media screen and (max-width: 762px) {
   #navbar {
        margin-top: 30px;
    }
    .katchup-total .item-total {
        font-size: 14px;
        padding: 0px;
    }
}
/* 615px hoac nho hon */
@media screen and (max-width: 615px) {
   .navbar-brand img {
        width : 107px;
        height : 39px;
   }
   #navbar {        
        margin-top: 10px;
    }
    #banner .text-container {
        margin: -10px 0 0 0px;
    }
}
/* 584px hoac nho hon */
@media screen and (max-width: 584px) {   
    .katchup-total .item-total {
        font-size: 11px;
        padding: 0px;
    }
}
/* 456px hoac nho hon */
@media screen and (max-width: 456px) {  
   .katchup-total .text-title {
        display: block;
        color: #FB4A40;
        font-size: 20px;
        text-align: justify;
    }
    .katchup-total .item-text2 {
        display: inline-block;
        font-size: 15px;
        margin-bottom: 12px;
        text-align: justify;
    }
    #banner .text-container {
        margin: -20px 0 0 0px;
    }
}

.katchup-tab-study-japan {
    padding: 0;
    margin: -14px 0px 0px 0px;
}
.katchup-tab-study-japan li {
	padding: 23px;
    list-style: none outside none;
    display: inline-block;
	vertical-align:middle;
}
.katchup-tab-study-japan li a {
    /*color: #FFFFFF;
    background: none;*/
    display: block;
	width : 170px;
	height : 50px;
}
.katchup-tab-study-japan li a:hover, .katchup-tab-study-japan li > a:focus {
    color: #FFFFFF;
    text-decoration: none;
}

.footer-sitemap {
	width: 50% !important;
}

.footer-sitemap ul {
	margin-left: 10px;
}

.footer-sitemap ul li a{
	color: #FFFFFF;
}	

.katchup-text .text-item1 {
    width: 350px;
	background-color: #F4F4F4;
    display: inline-block;
    margin: 0 8px 40px;
    vertical-align: top;
    text-align: left;
}
.katchup-text .text-item1.last {
    margin-right: 0;
}
.katchup-text .text-item1 .text {
	background: url("../images/text-quote-green1.png") no-repeat scroll left top transparent;
    color: #8bd554;
    font-size: 17px;
    height: 86px;
    line-height: 20px;
	padding: 15px 5px 0px 60px;
    width: 352px;
}

.img-banner {
    background: url("../images/banner-1.png") no-repeat;
    border-radius: 0 !important;
    margin-bottom: -40px;
    margin-top: -12px;
}

.katchup-total .row a:hover {
    color: #333 !important;
}

.hide {
    display: none;
}

.clear-both {
    clear: both;
}
/*========================= BOOTSTRAP SLIDER =========================*/
.carousel-control .arrowleft {
	background: url("../images/bootstrap-carousel/arrow-left.png") no-repeat;
	background-position: 0px;
    float: left;
    width: 68px;
    height: 100%;
}

.carousel-control .arrowright {
	background: url("../images/bootstrap-carousel/arrow-right.png") no-repeat;
	background-position: 0px;
    float: right;
    width: 68px;
    height: 100%;
}

.carousel-indicators li:hover {
	box-shadow: 0 0 2px 2px #fff;
}

/*========================= BOX LETTER =========================*/
.box-letter-container {
    bottom: 0;
    min-height: 30px;
    position: fixed;
    right: 0;
}

.box-letter-container #box-letter-header {
    cursor: pointer;
    width: 100%;
    height: 32px;
    background-color: #11B4EF;
    border-radius: 6px 6px 0 0;
    opacity: 0.5;
}
.box-letter-container #box-letter-header .icon-email {
    background: url("../images/ico-email.png") no-repeat;
    float: left;
    width: 32px;
    height: 100%;
}
.box-letter-container #box-letter-header .icon-close {
    background: url("../images/ico-close-gray.png") no-repeat;
    float: right;
    height: 15px;
    margin-right: 6px;
    margin-top: 8px;
    width: 15px;
}
.box-letter-container #box-letter-header .box-letter-title {
    color: #ffffff;
    float: left;
    font-weight: bold;
    padding: 5px 68px 5px 5px;
    /*width: 85%;*/
}

.box-letter-container #box-letter-content {
    height: 256px;
    width: 100%;
    background-color: #FFFFFF;
}
.box-letter-container #box-letter-content .content{
    padding: 8px 12px 0px 15px;
}
.box-letter-container #box-letter-content #sendmail {
    background-color: #11B4EF;
    border-color: #11B4EF;
    border-width: 0 1px;
    float: right;
    margin: 0px 12px 0 0;
    width: 65px;
}
.box-letter-container #box-letter-content #sendmail:hover {
    background-color: #0f99d8;
    border-color: #0f99d8; 
}